<% expense_id = params["id"] %>
<% expense = Expense.read(expense_id) %>


<div class="row">

  <div class="col-md-8">
    <h1><%= expense["title"] %></h1>

    <h2>  <small>Date: <%= expense["date"] %></small>
    </h2>

    <h2> <%= expense["notes"] %> </h2>

    <h3>Borrowers:</h3>

    <% borrowers = Borrower.where("expense_id" => expense["id"]) %>

    <ul>
      <% borrowers.each do |borrower| %>
        <% person = Person.find_by("id" => borrower["person_id"]) %>
        <li>
          <%= person["name"] %>
          owes
          <%= borrower["amount_owed"] %>
        </li>
      <% end %>
    </ul>



